[Unit]
Description = "epaper updater"

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/tnelson/epaper
ExecStart=/home/tnelson/epaper/run.py --debug --update-delay 5 run-async --threaded
User=tnelson

[Install]
WantedBy=network-online.target
